.onderzoekContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.titleOnderzoek {
    border-bottom: 2px solid #1CA883;
}

.titleContainer {
    display: flex;
    align-items: start;
    margin-left: 5.5rem;
    width: 35rem;
}
