.DeskundigeProfileContainer{
    display: flex;
    flex-direction: row;
    width: 88vw;
    height: 90vh;
}

.col1, .col2, .col3 {
    display: flex;  
    flex-direction: column;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
}

.safeButton{
    background-color: #FF7D00;
    margin-top: 10px;
    width: 18vw;
    height: 5vh;
    margin-bottom: 10px; 
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    border: none;
    margin-left: 14%;
  }
  
  .safeButton:hover{
    background-color: #ff9d42;
  }

@media screen and (max-width: 600px) {
    .DeskundigeProfileContainer {
        flex-direction: column;
        width: 100%;
    }

    .col1, .col2, .col3 {
        width: 100%;
        padding: 0;
    }

    .safeButton{
        width: 70%;
        margin-left: 15%;
      }
}

  


