.voogdGegevensContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voogdGegevensContainer input {
    border: 2px solid #1CA883;
    margin-top: 10px;
    width: 70%;
    height: 13%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.voogdGegevensContainer h2 {
    width: 17vw;
    color: black;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid #1CA883;
}


@media only screen and (max-width: 600px) {
    .voogdGegevensContainer input {
        height: 6vh;

    }

    .voogdGegevensContainer h2 {
        width: 39%;
    }

}