
.benaderInfo {
  margin-left: 20px;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

.benaderInfo p {
  margin-bottom: 25px; /* Ruimte onder elke paragraaf */
}

.checkbox {
  margin-bottom: 15px;
  margin-left: 10px;
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 600px) {
 
  .benaderInfo {
    margin-left: 10%;
    
  }
}

