.card {
    padding-top: 10px;
    align-items: center;
    background-color: #1CA883;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);

  }
  .pic{
    border-radius: 100%;
    background-color: lightgrey;
    width: 15vw;
    height: 30vh;
    margin-top: 20px;
  }
  
  .container {
    padding: 20px 16px;
  }
  .card h4{
    font-size: 30px;
  }

  .card p{
    font-size: 20px;
    font-weight: bold;
  }
  
  .cardInput input{
    margin-bottom:10px ;
    border: 2px solid #FFF;
    background-color: #1CA883;
    border-radius: 8px;
    color: black;
    width: 70%;
    height: 5.5vh;
    margin-left: 3.5vw;
  }
  .card input::placeholder {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }


  @media only screen and (max-width: 600px) {
    .pic{
      width: 43%;

    }

    .cardInput input{
      margin-left: 14vw;
    }
}
